<%= form_with(model: complain, local: true) do |form| %>
    <% if complain.errors.any? %>
      <div class="alert alert-danger">
        <h4>There were errors:</h4>
        <ul>
          <% complain.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :category_id, "Category" %>
      <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category", class: "form-select" %>
    </div>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :source %>
      <%= form.text_field :source, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :details %>
      <%= form.text_area :details, rows: 5, class: "form-control" %>
    </div>
  
    <%= form.submit class: "btn btn-success mt-3" %>
  <% end %>
  