<h1 class="mb-4">Complaints</h1>

<%= form_with url: complains_path, method: :get, local: true, html: { id: "filter_form" } do %>
  <div class="row mb-3">
    <div class="col-md-4">
      <%= select_tag :category_id,
          options_from_collection_for_select(@categories, :id, :name, params[:category_id]),
          include_blank: "All Categories",
          class: "form-select",
          onchange: "document.getElementById('filter_form').submit();" %>
    </div>

    <div class="col-md-2">
      <%= link_to 'Reset', complains_path, class: "btn btn-outline-secondary w-100" %>
    </div>
  </div>
<% end %>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Source</th>
      <th>Location</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @complains.each do |complain| %>
      <tr onclick="window.location='<%= complain_path(complain) %>'" style="cursor: pointer;">
        <td><%= complain.title %></td>
        <td><%= complain.source %></td>
        <td><%= complain.location %></td>
        <td><%= complain.category&.name || 'Uncategorized' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
